<h1 class="mt-4"><%= t(:show_resource, resource: controller_name.singularize.humanize.titleize) %></h1>

<%= render 'buttons' %>

<div class="card mb-4">
  <div class="card-body">

    <% @collection.fields.each do |field| %>
      <p>
        <strong><%= field.label %>:</strong>
        <%= @entry.value[field.slug] %>
      </p>
    <% end %>

    <p>
      <strong>Published at:</strong>
      <%= @entry.published_at %>
    </p>

  </div>
</div>
