<%= simple_form_for([:backend, page], html: { autocomplete: 'false' }) do |f| %>
  <div class="form-group">
    <%= f.input :title %>
    <%= f.association :parent, prompt: :translate %>
    <%= f.input :slug %>
    <%= f.association :design, prompt: :translate %>
    <%= f.input :content, as: :wysiwyg %>
    <%= f.input :homepage %>
    <%= f.input :published_at, as: :string %>
  </div>

  <div class="form-group page_metatags">
    <h3><%= t(:metatags) %></h3>

    <%= f.simple_fields_for :metatags do |metatag| %>
      <%= render 'metatag_fields', f: metatag %>
    <% end %>

    <div class="links">
      <%= link_to_add_association(t(:add_metatag), f, :metatags,
                                  class: 'btn btn-secondary', role: 'button') %>
    </div>
  </div>

  <div class="form-group text-right">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
