<tr class="page-<%= page.published? ? 'published' : 'unpublished' %> page-<%= page.available? ? 'available' : 'unavailable' %>">
  <td><%= page.title %></td>
  <td>
    <%= page.homepage? ? frontend_root_path : frontend_resource_path(page.permalink) %>
  </td>
  <td class="actions text-right">
    <div class="btn-group" role="group" aria-label="Button group">
      <%= link_to t(:view), (page.homepage? ? frontend_root_path : frontend_resource_path(page.permalink)), class: 'btn btn-secondary', target: '_blank' %>
      <%= link_to t(:show), backend_page_path(page), class: 'btn btn-info' %>
      <%= link_to t(:edit), edit_backend_page_path(page), class: 'btn btn-warning' %>
      <%= link_to t(:delete), backend_page_path(page), class: 'btn btn-danger',
                                                       method: :delete, data: { confirm: t(:are_you_sure) } %>
    </div>
  </td>
</tr>
