<h1><%= t(:show_resource, resource: controller_name.singularize.humanize.titleize) %></h1>

<%= render 'buttons' %>

<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @page.slug %>
</p>

<p>
  <strong>Permalink:</strong>
  <%= frontend_resource_path(@page) %>
</p>

<p>
  <strong>Content:</strong>
  <%= @page.content %>
</p>

<p>
  <strong>Homepage:</strong>
  <%= @page.homepage %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @page.parent_id %>
</p>

<p>
  <strong>Design:</strong>
  <%= @page.design_id %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @page.deleted_at %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @page.published_at %>
</p>
