<ul>
  <li><%= link_to('Dashboard', backend_root_path) %></li>
  <li><%= link_to('Designs', backend_designs_path) %></li>
  <li><%= link_to('Pages', backend_pages_path) %></li>
  <li><%= link_to('Profile', backend_profile_path) %></li>
  <li><%= link_to('Site', backend_site_path) %></li>
  <li><%= link_to('Users', backend_users_path) %></li>
  <li><%= link_to('Widgets', backend_widgets_path) %></li>
  <li><%= link_to('Logout', destroy_user_session_path, method: :delete, rel: 'nofollow') %></li>
</ul>
