<aside>
  <ul>
    <li><%= link_to(t(:dashboard), backend_root_path) %></li>
    <li><%= link_to(t(:pages), backend_pages_path) %></li>
    <li><%= link_to(t(:designs), backend_designs_path) %></li>
    <li><%= link_to(t(:widgets), backend_widgets_path) %></li>
    <li><%= link_to(t(:collections), backend_collections_path) %></li>
    <li><%= link_to(t(:users), backend_users_path) %></li>
    <li><%= link_to(t(:site), backend_site_path) %></li>
  </ul>

  <ul>
    <li><%= link_to(t(:website), frontend_root_path, target: '_blank') %></li>
    <li><%= link_to(t(:profile), backend_profile_path) %></li>
    <li><%= link_to(t(:logout), destroy_user_session_path, method: :delete, rel: 'nofollow') %></li>
  </ul>
</aside>
