<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <a class="nav-link" href="<%= backend_root_path %>">
          <div class="sb-nav-link-icon">
            <i class="fas fa-home fa-lg"></i>
          </div>
          <%= t(:dashboard) %>
        </a>

        <a class="nav-link" href="<%= backend_pages_path %>">
          <div class="sb-nav-link-icon">
            <i class="fas fa-file-alt fa-lg"></i>
          </div>
          <%= t(:pages) %>
        </a>

        <a class="nav-link" href="<%= backend_designs_path %>">
          <div class="sb-nav-link-icon">
            <i class="fas fa-palette fa-lg"></i>
          </div>
          <%= t(:designs) %>
        </a>

        <a class="nav-link" href="<%= backend_widgets_path %>">
          <div class="sb-nav-link-icon">
            <i class="fas fa-object-group fa-lg"></i>
          </div>
          <%= t(:widgets) %>
        </a>

        <a class="nav-link" href="<%= backend_collections_path %>">
          <div class="sb-nav-link-icon">
            <i class="fas fa-layer-group fa-lg"></i>
          </div>
          <%= t(:collections) %>
        </a>

        <a class="nav-link" href="<%= backend_assets_path %>">
          <div class="sb-nav-link-icon">
            <i class="fas fa-images fa-lg"></i>
          </div>
          <%= t(:assets) %>
        </a>

        <a class="nav-link" href="<%= backend_users_path %>">
          <div class="sb-nav-link-icon">
            <i class="fas fa-users fa-lg"></i>
          </div>
          <%= t(:users) %>
        </a>

        <a class="nav-link" href="<%= backend_site_path %>">
          <div class="sb-nav-link-icon">
            <i class="fas fa-map-marker-alt fa-lg"></i>
          </div>
          <%= t(:site) %>
        </a>
      </div>
    </div>
  </nav>
</div>
