<%= simple_form_for([:backend, design], html: { autocomplete: 'false' }) do |f| %>
  <div class="form-group">
    <%= f.input :name %>
    <%= f.association :parent, prompt: :translate %>
    <%= f.input :content, as: :wysiwyg %>
    <%= f.input :partial %>
  </div>

  <div class="form-group text-right">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
