<h1 class="mt-4"><%= t(:index_resource, resource: controller_name.singularize.humanize.titleize) %></h1>

<%= render 'buttons' %>

<div class="card mb-4">
  <div class="card-body">

    <% if @designs.present? %>

      <div class="table-responsive text-nowrap">
        <table class="table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th><%= t(:name) %></th>
              <th><%= t(:partial) %></th>
              <th class="actions text-right"><%= t(:actions) %></th>
            </tr>
          </thead>

          <tbody>
            <%= render partial: 'design', collection: @designs %>
          </tbody>
        </table>
      </div>

      <%= paginate @designs %>

    <% else %>

      <p class="no-resources">
        <%= t(:no_resources, resources: controller_name.humanize.downcase) %>
      </p>

    <% end %>

  </div>
</div>
