<h1>Designs</h1>

<% if @designs.present? %>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Content</th>
        <th>Partial</th>
        <th>Parent</th>
        <th>Deleted at</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @designs.each do |design| %>
        <tr>
          <td><%= design.name %></td>
          <td><%= design.content %></td>
          <td><%= design.partial %></td>
          <td><%= design.parent_id %></td>
          <td><%= design.deleted_at %></td>
          <td><%= link_to 'Show', backend_design_path(design) %></td>
          <td><%= link_to 'Edit', edit_backend_design_path(design) %></td>
          <td><%= link_to 'Destroy', backend_design_path(design), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @designs %>

<% else %>

  <p>No designs found.</p>

<% end %>

<br>

<%= link_to 'New Design', new_backend_design_path %>
