<h1><%= t(:show_resource, resource: controller_name.singularize.humanize.titleize) %></h1>

<%= render 'buttons' %>

<p>
  <strong><%= t(:name) %>:</strong>
  <%= @design.name %>
</p>

<p>
  <strong><%= t(:content) %>:</strong>
  <%= @design.content %>
</p>

<p>
  <strong><%= t(:partial) %>:</strong>
  <%= @design.partial %>
</p>
