<%= simple_form_for([:backend, site], as: :site,
                                      url: :backend_site,
                                      html: { autocomplete: 'false' }) do |f| %>
  <div class="form-group">
    <%= f.input :name %>
    <%= f.input :theme, as: :select, collection: THEMES, include_blank: false %>
    <%= f.input :locale, as: :locale %>
  </div>

  <div class="form-group">
    <%= f.input :logo, as: :file, direct_upload: true %>

    <% if f.object.persisted? && f.object.logo.attached? %>
      <%= image_tag(f.object.logo.variant(resize_to_limit: [100, 100]).processed) %>

      <%= f.input :remove_logo, as: :boolean,
                                checked_value: true, unchecked_value: false %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.input :homepage_redirect, as: :boolean %>
  </div>

  <div class="form-group site_metatags">
    <h3><%= t(:metatags) %></h3>

    <%= f.simple_fields_for :metatags do |metatag| %>
      <%= render 'metatag_fields', f: metatag %>
    <% end %>

    <div class="links">
      <%= link_to_add_association(t(:add_metatag), f, :metatags,
                                  class: 'btn btn-secondary', role: 'button') %>
    </div>
  </div>

  <div class="form-group text-right">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
