<h1 class="mt-4"><%= t(:show_resource, resource: controller_name.singularize.humanize.titleize) %></h1>

<%= render 'buttons' %>

<div class="card mb-4">
  <div class="card-body">

    <p>
      <strong><%= t(:name) %>:</strong>
      <%= @site.name %>
    </p>

    <p>
      <strong><%= t(:theme) %>:</strong>
      <%= @site.theme %>
    </p>

    <p>
      <strong><%= t(:locale) %>:</strong>
      <%= @site.locale %>
    </p>

  </div>
</div>
