<h1><%= t(:show_resource, resource: controller_name.singularize.humanize.titleize) %></h1>

<%= render 'buttons' %>

<p>
  <strong>Name:</strong>
  <%= @site.name %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @site.theme %>
</p>

<p>
  <strong>Locale:</strong>
  <%= @site.locale %>
</p>

<p>
  <strong>Settings:</strong>
  <%= @site.settings %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @site.deleted_at %>
</p>
