<%= simple_form_for([:backend, widget], html: { autocomplete: 'false' }) do |f| %>
  <div class="form-group">
    <%= f.input :name %>
    <%= f.input :slug %>
    <%= f.association :design, prompt: :translate %>
    <%= f.input :content %>
  </div>

  <div class="form-group text-right">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
