<h1><%= t(:show_resource, resource: controller_name.singularize.humanize.titleize) %></h1>

<%= render 'buttons' %>

<p>
  <strong><%= t(:name) %>:</strong>
  <%= @widget.name %>
</p>

<p>
  <strong><%= t(:slug) %>:</strong>
  <%= @widget.slug %>
</p>

<p>
  <strong><%= t(:content) %>:</strong>
  <%= @widget.content %>
</p>
