<tr class="entry-<%= entry.published? ? "published" : "unpublished" %>" data-sortable-id="<%= entry.id %>">
  <td class="text-center">
    <span class="sortable-handle">
      <%= t(:sort) %>
    </span>
  </td>
  <% fields.each.with_index do |field, index| %>
    <%- cell_display = index > 1 ? "d-md-table-cell" : "d-table-cell" -%>
    <td class="d-none <%= cell_display %>"><%= entry.value[field] %></td>
  <% end %>
  <td class="d-none d-lg-table-cell"><%= l(entry.published_at, format: :human_datetime, default: nil) %></td>
  <td class="actions text-right">
    <div class="btn-group" role="group" aria-label="Button group">
      <%= link_to t(:show), backend_collection_entry_path(entry.collection_id, entry), class: 'btn btn-info' %>
      <%= link_to t(:edit), edit_backend_collection_entry_path(entry.collection_id, entry), class: 'btn btn-warning' %>
      <%= link_to t(:delete), backend_collection_entry_path(entry.collection_id, entry), class: 'btn btn-danger',
                                                                                         method: :delete, data: { confirm: t(:are_you_sure) } %>
    </div>
  </td>
</tr>
