<tr>
  <td>
    <%- avatar = user.avatar.attached? ? user.avatar.variant(resize_to_limit: [30, 30]).processed : user.avatar_url(30) -%>
    <%= image_tag(avatar, class: 'img-avatar', alt: user.name, title: user.name) %>
  </td>
  <td><%= user.name %></td>
  <td><%= user.username %></td>
  <td class="actions text-right">
    <div class="btn-group" role="group" aria-label="Button group">
      <%= link_to t(:show), backend_user_path(user), class: 'btn btn-info' %>
      <%= link_to t(:edit), edit_backend_user_path(user), class: 'btn btn-warning' %>
      <%= link_to t(:delete), backend_user_path(user), class: 'btn btn-danger',
                                                       method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </td>
</tr>
