<h1><%= t(:show_resource, resource: controller_name.singularize.humanize.titleize) %></h1>

<%= render 'buttons' %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
