<h1><%= t(:show_resource, resource: controller_name.singularize.humanize.titleize) %></h1>

<%= render 'buttons' %>

<p>
  <strong><%= t(:name) %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t(:username) %>:</strong>
  <%= @user.username %>
</p>

<p>
  <strong><%= t(:email) %>:</strong>
  <%= @user.email %>
</p>
